/* Reset some basic styling */
* {
    box-sizing: border-box;
}

body {
    background-color: #202336;
    color: #c0c0d0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

.container {
    background-color: #2c2f48;
    padding: 20px;
    border-radius: 10px;
    width: 500px;
    box-shadow: 0 0 10px #111428;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    font-weight: 600;
}

form {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}

input[type="text"], input[type="date"] {
    flex: 1;
    padding: 8px 10px;
    font-size: 14px;
    border: 1px solid #444c6b;
    border-radius: 5px;
    background-color: #1e2139;
    color: #c0c0d0;
}

input[type="text"]::placeholder {
    color: #686c8a;
}

input[type="date"] {
    color-scheme: dark;
}

button#addBtn {
    background-color: #7576e3;
    border: none;
    color: white;
    font-size: 20px;
    padding: 0 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button#addBtn:hover {
    background-color: #a3a5f8;
}

.filter-container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

button#filterBtn {
    background-color: #888acc;
    border: none;
    padding: 6px 12px;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    transition: background-color 0.3s ease;
}

button#filterBtn:hover {
    background-color: #a3a5f8;
}

select#statusFilter {
    padding: 6px 10px;
    border-radius: 5px;
    background-color: #1e2139;
    color: #c0c0d0;
    border: 1px solid #444c6b;
    cursor: pointer;
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

th, td {
    padding: 8px;
    border-bottom: 1px solid #444c6b;
    font-size: 14px;
}

th {
    color: #a1a3bf;
}

.no-task {
    text-align: center;
    color: #7779a1;
}

.status-checkbox {
    cursor: pointer;
    width: 20px;
    height: 20px;
}

.action-btn {
    background-color: #cf4c49;
    border: none;
    color: white;
    border-radius: 3px;
    padding: 4px 8px;
    cursor: pointer;
    font-weight: 600;
    transition: background-color 0.2s ease;
}

.action-btn:hover {
    background-color: #e16b67;
}

.completed-task {
    text-decoration: line-through;
    color: #7d7da8;
}

